@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    @apply h-full;
    /* 禁用 iOS 上的弹性滚动效果 */
    overscroll-behavior: none;
}

html {
    background-color: #f5f6f7;
}

/* 滚动条美化 */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-600;
}

::-webkit-scrollbar-track {
    @apply bg-gray-900;
    @apply h-full;
}
